* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'Rubik';
}

body {
    background-color: #f8f9fa;
}

main {
    width: 120rem;
    margin: 5rem auto;
}

h1 {
    font-size: 6.2rem;
}

h3 {
    font-size: 2.75rem;
    line-height: 1.75;
    color: #1864ab;
}

p {
    color: gray;
    font-size: 2rem;
}

.hero-section {
    display: flex;
    align-items: center;
    gap: 4.25rem;
}

#world_graph {
   position: relative;
   border-radius: 50%;
   translate: scale(-50%);
   margin-top: 8rem;
   background-color: rgba(221, 230, 246, 0.1);
   box-shadow: 0 0.0 1rem 0.025rem rgba(134, 43, 43, 0.075);
}

#legend {
    position: absolute;
    translate: -55px 165px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 2rem;
    z-index: 2;
}

#legend rect {
    color: black;
}

#legend g {
    cursor: pointer;
}

#legend g:hover {
    text-decoration: underline;
}

.blue-container {
    background: #062542;
    padding: 2.5rem;
    height: 17rem;
    border-radius: 1rem;
}

.blue-container h3, .blue-container p {
    color: #fff;
}

.waffle_charts {
    display: flex;
    justify-content: center;
    gap: 12.5vw;
}

.waffle_charts svg {
    max-width: 250px;
}